<script>
	import Navigation from '@dxlib/navigation';

	export let segment;

	const processMenuItems = items => items.map(
		i => i instanceof Object ? i :  { label: i, href: i, segment: i }
	)

	const menuitems = processMenuItems([
		{ label: 'home',  href: '.' },
		'components',
		'schema-form'
	])
</script>

<Navigation items={menuitems} let:item={item}>
	<a class:selected={item.segment === segment} href={item.href}>
		{item.label}
	</a>
</Navigation>

<slot></slot>
