<svelte:head>
  <title>Epic monorepo playground</title>
</svelte:head>

<main>
  <section>
    <h1>Epic monorepo playground</h1>
    <p>This project features a plural of features in order to build one epic web playground</p>
  </section>

  <section>
    <h2>Features:</h2>
    <ul>
      <li>All <a href='https://sapper.svelte.dev/'>sapper</a> goodness</li>
      <li>Cloudflare SSL (since letsencrypt isn't an option in gitlab pages)</li>
      <li>Multirepo using <a href='https://yarnpkg.com/en/docs/workspaces'>yarn workspaces</a></li>
    </ul>
  </section>

  <section>
    <h2>Work in progress:</h2>
    <ul>
      <li><a href='/components'>A11y component library</a></li>
    </ul>
  </section>

  <section>
    <h2>Ideas:</h2>
    <ul>
      <li>Markdown content</li>
      <li><a href='https://github.com/pngwn/MDsveX'>MDsvex</a> content</li>
    </ul>
  </section>
</main>
