<main class=vertical>
  <section>
    <h2>Testing schema-form</h2>
    <select bind:value={selected}>
      {#each Object.keys(schemas) as value}
        <option {value}>{value}</option>
      {/each}
    </select>
    <section>
      <h3>Output</h3>
      <pre>
        {JSON.stringify(data, null, 2)}
      </pre>
    </section>
    <section>
      <h3>Schema</h3>
      <pre>
        {JSON.stringify(schema, null, 2)}
      </pre>
    </section>
  </section>
  <section>
    <label for=liveValidate>liveValidate</label>
    <input id=liveValidate type=checkbox bind:checked={liveValidate} />

    {#if schema}
      <Form {schema}
        bind:formData={data}
        on:change={e => console.log("errors", e)}
        on:submit={e => console.log("errors", e)}
        on:error={e => console.log("errors", e)}
        {liveValidate}
      />
    {/if}
  </section>
</main>

<style>
  main {
    display: flex;
    align-items: flex-start;
  }
  .vertical {
    display: flex;
    flex-flow: row;
  }
  pre {
    font-size: 0.7rem;
  }
  main > section {
    position: sticky;
    top: 0;
  }
  section {
    background: #eaeaea;
    border: thin solid #d5d5d5;
    margin: 0.5rem;
  }
  section > * {
    margin: 0.5rem;
  }
  section > pre {
    max-height: 40vh;
    overflow: auto;
  }

  section > h2,
  section > h3 {
    background: black;
    color: white;
    margin: 0;
    padding: 0.5rem;
  }
</style>

<script>
  import Form from "@dxlib/schema-form";
  let liveValidate
  const schemas = {
    basic: {
      title: "Todo",
      type: "object",
      required: ["title"],
      properties: {
        title: {type: "string", title: "Title", default: "A new task"},
        done: {type: "boolean", title: "Done?", default: false}
      }
    },
    validation: {
      "type": "object",
      "title": "Comment",
      "properties": {
        "name":  {
          "title": "Name",
          "type": "string"
        },
        "email":  {
          "title": "Email",
          "type": "string",
          "pattern": "^\\S+@\\S+$",
          "description": "Email will be used for evil."
        },
        "comment": {
          "title": "Comment",
          "type": "string",
          "maxLength": 20,
          "validationMessage": "Don't be greedy!"
        }
      },
      "required": ["name","email","comment"]
    },
    definitions: {
      "definitions": {
        "address": {
          "type": "object",
          "properties": {
            "street_address": { "type": "string" },
            "city":           { "type": "string" },
            "state":          { "type": "string" }
          },
          "required": ["street_address", "city", "state"]
        }
      },
      "type": "object",
      "properties": {
        "billing_address": { "$ref": "#/definitions/address" },
        "shipping_address": { "$ref": "#/definitions/address" }
      }
    },
    arrays: {
      "definitions": {
        "Thing": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "default": "Default name"
            }
          }
        }
      },
      "type": "object",
      "properties": {
        "listOfStrings": {
          "type": "array",
          "title": "A list of strings",
          "items": {
            "type": "string",
            "default": "bazinga"
          }
        },
        "multipleChoicesList": {
          "type": "array",
          "title": "A multiple choices list",
          "items": {
            "type": "string",
            "enum": [
              "foo",
              "bar",
              "fuzz",
              "qux"
            ]
          },
          "uniqueItems": true
        },
        // "fixedItemsList": {
        //   "type": "array",
        //   "title": "A list of fixed items",
        //   "items": [
        //     {
        //       "title": "A string value",
        //       "type": "string",
        //       "default": "lorem ipsum"
        //     },
        //     {
        //       "title": "a boolean value",
        //       "type": "boolean"
        //     }
        //   ],
        //   "additionalItems": {
        //     "title": "Additional item",
        //     "type": "number"
        //   }
        // },
        // "minItemsList": {
        //   "type": "array",
        //   "title": "A list with a minimal number of items",
        //   "minItems": 3,
        //   "items": {
        //     "$ref": "#/definitions/Thing"
        //   }
        // },
        "defaultsAndMinItems": {
          "type": "array",
          "title": "List and item level defaults",
          "minItems": 5,
          "default": [
            "carp",
            "trout",
            "bream"
          ],
          "items": {
            "type": "string",
            "default": "unidentified"
          }
        },
        "nestedList": {
          "type": "array",
          "title": "Nested list",
          "items": {
            "type": "array",
            "title": "Inner list",
            "items": {
              "type": "string",
              "default": "lorem ipsum"
            }
          }
        },
        "unorderable": {
          "title": "Unorderable items",
          "type": "array",
          "items": {
            "type": "string",
            "default": "lorem ipsum"
          }
        },
        "unremovable": {
          "title": "Unremovable items",
          "type": "array",
          "items": {
            "type": "string",
            "default": "lorem ipsum"
          }
        },
        "noToolbar": {
          "title": "No add, remove and order buttons",
          "type": "array",
          "items": {
            "type": "string",
            "default": "lorem ipsum"
          }
        },
        // "fixedNoToolbar": {
        //   "title": "Fixed array without buttons",
        //   "type": "array",
        //   "items": [
        //     {
        //       "title": "A number",
        //       "type": "number",
        //       "default": 42
        //     },
        //     {
        //       "title": "A boolean",
        //       "type": "boolean",
        //       "default": false
        //     }
        //   ],
        //   "additionalItems": {
        //     "title": "A string",
        //     "type": "string",
        //     "default": "lorem ipsum"
        //   }
        // }
      }
    }
  }
  let data = {}
  let schema
  let selected

  $: if (selected) {
    console.log('changing schemas')
    schema = schemas[selected]
    data = {}
  }
</script>
