<script>
  import { aria } from '@dxlib/util'

  export let label = 'Navigation'
  export let items = []
</script>

<nav {...aria({ label })}>
  <ul role=menubar>
    {#each items as item}
      <li role=menuitem>
        <slot item={item} />
      </li>
    {/each}
  </ul>
</nav>

<style>
  nav {
    border-bottom: 1px solid rgba(255,62,0,0.1);
    font-weight: 300;
    padding: 0 1em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  /* clearfix */
  ul::after {
    content: '';
    display: block;
    clear: both;
  }

  li {
    display: block;
    float: left;
  }

  li > :global(.selected) {
    position: relative;
    display: inline-block;
  }

  li > :global(.selected::after) {
    position: absolute;
    content: '';
    width: calc(100% - 1em);
    height: 2px;
    background-color: rgb(255,62,0);
    display: block;
    bottom: -1px;
  }

  li > :global(a) {
    text-decoration: none;
    padding: 1em 0.5em;
    display: block;
  }
</style>