
<svelte:head>
  <title>Accessible component library</title>
</svelte:head>

<main>
  <section>
    <h1>Components</h1>

    <ul>
      <li>Cards</li>
      <li>Forms</li>
      <li>
        General
        <ul>
          <li>Buttons</li>
          <li>Links</li>
          <li>Skip Links</li>
        </ul>
      </li>
      <li>Media</li>
      <li>
        <a href=components/navigation>Navigation</a>
        <ul>
          <li><a href='components/accordion'>Accordion</a></li>
          <li>Breadcrumbs</li>
          <li>Dropdown List</li>
          <li>Footer</li>
          <li>Mobile</li>
          <li>Pagination</li>
        </ul>
      </li>
      <li>
        Structure
        <ul>
          <li>Headings</li>
          <li>Lists</li>
          <li>Tables</li>
          <li>Tabs</li>
        </ul>
      </li>
      <li>
        Layouts
        <ul>
          <li>App</li>
          <li>List</li>
          <li>Table</li>
          <li>Grid</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <slot />
  </section>
</main>

<style>
  main {
    display: flex;
  }
  main > section:first-child {
    flex-basis: 20vh;
    flex-shrink: 1;
  }
</style>