<script>
  import Accordion, { Panel } from '@dxlib/accordion'
  import Button from '@dxlib/button'
</script>

<Accordion>
  <Panel>
    <h3 slot=heading let:toggle let:aria >
      <Button on:click={toggle} {aria}>I’m tall when I’m young and I’m short when I’m old. What am I?</Button>
    </h3>
    <p>A candle</p>
  </Panel>
  <Panel>
    <h3 slot=heading let:toggle let:aria>
      <Button on:click={toggle} {aria}>Which weighs more, a pound of feathers or a pound of bricks?</Button>
    </h3>
    <p>Neither, they both weigh one pound.</p>
  </Panel>
  <Panel>
    <h3 slot=heading let:toggle let:aria>
      <Button on:click={toggle} {aria}>The more you take, the more you leave behind. What are they?</Button>
    </h3>
    <p>Footprints.</p>
  </Panel>
</Accordion>
