
<h2>References</h2>
<ul>
  <li><a href='https://a11yproject.com/checklist/'>The A11y project</a></li>
  <li><a href='https://a11y-style-guide.com/style-guide/'>The A11y styleguide</a></li>
  <li><a href='https://html-color-codes.info/color-names/'>Html color names</a></li>
</ul>