<script>
  import Navigation from '@dxlib/navigation'

  let navitems = [
    { href: '#1', content: 'first' },
    { href: '#2', content: 'second' },
    { href: '#3', content: 'third' },
    { href: '#4', content: 'fourth' },
  ]
</script>

<Navigation items={navitems} let:item>
  <a href={item.href}>
    {item.content}
  </a>
</Navigation>
