<script context=module>
  let generateId = (() => {
    let currentId = 0
    return () => `panel-${currentId++}`
  })()
</script>

<script>
  import { aria } from '@dxlib/util'
  import Card from '@dxlib/card'

  let open = false
  const id = generateId()
  const toggle = () => open = !open
  $: controlAria = aria({
    controls: id,
    expanded: open
  })
</script>

<Card>
  <slot
    name='heading'
    {toggle}
    {open}
    aria={controlAria}
  />
  {#if open}
    <section {id}
      class=content
      role=region
    >
      <slot />
    </section>
  {/if}
</Card>

