body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3,h4 {
	font-size: 1.2em;
}

a {
	color: inherit;
}

button,.button {
	background: var(--button-color, Silver);
	color: var(--button-text-color, Black);
	font-size: inherit;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	border: none;
	outline: 0;
	cursor: pointer;
}
button:hover,.button:hover {
	background: var(--button-hover-color, LightGrey);
}
button:focus,.button:focus {
	background: var(--button-focus-color, Gainsboro);
}
button[disabled] {
	background: var(--button-hover-color, FloralWhite);
}
code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

aside {
	float: left;
	margin-right: 2rem;
}
aside.right {
	float: right;
	margin-right: 0;
	margin-left: 2rem;
}


#sapper > main {
	position: relative;
	max-width: 56em;
	background-color: white;
	padding: 2em;
	margin: 0 auto;
	box-sizing: border-box;
}